@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    line-height: 1.3em;
}
p{
    margin-bottom: 10px;
    text-align: justify;
}

h1, h2{
    margin-bottom: 20px;
    text-align: left;
}
header, section{
    padding: 20px;
}

section.flex{
    background-color: rgb(255, 208, 232);
    display: flex;
    flex-flow: column nowrap;
}

article.media-text{
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
    
}

article.text-media{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    
}

article > div.text{
    flex: 1 1 500px;
    padding-right: 20px;
    
}

article > div.media{
    flex: 1 0 400px;
    align-self: center;
    
}

div.media > img {
    display: block;
    margin: auto;
    width: 300px;
    margin-bottom: 10px;
}

div.media > iframe{
    display: block;
    margin: auto;
    width: 90%;
}





