@charset "UTF-8";

/*Estilo Geral*/
*{
    margin: 0px;
    padding: 0px;
}

 html body{
    width: 100vw;
    height: 100vh;
    background-color:#233eff ;
    background-size: contain;
    background-repeat: no-repeat;
}
h1{
    text-align: center;
    text-shadow: 3px 2px 0px #13218d9b;
    padding: 10px;
}